<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <!-- For Android 12 and below -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- For Android 13 and above (Audio specific) -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" /> <!-- Required for Android 14+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- Required for Android 13+ -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- Prevents Huawei from killing the player -->


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_music"
        android:label="Meusic"
        android:theme="@style/Theme.first_app.DarkBlue" >
        <service
            android:name=".PlaybackService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllSongsActivity"
            android:exported="false"
            android:label="@string/title_activity_all_songs"
            android:theme="@style/Theme.first_app.DarkBlue"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SearchActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".DetailSongsActivity"
            android:exported="false" />
    </application>

</manifest>